@import '../../styles/colors.scss';

.button {
  background-color: $green;
  border-radius: 24px;
  border: 1px solid $green;
  color: $white;
  cursor: pointer;
  margin: 8px 0;
  padding: 8px 16px;
  transition: all .2s;

  &:hover {
    background-color: $light-green;
    border-color: $light-green;
  }
}

.button[disabled] {
  background-color: $gray-e;
  border-color: $gray-a;
  color: $gray-a;
  cursor: not-allowed;

  &:hover {
    background-color: $gray-e;
    border-color: $gray-a;
    color: $gray-a;
  }
}

.transparent {
  background-color: $white;
  color: $green;

  &:hover {
    background-color: $white;
    border-color: $yellow;
    color: $yellow;
  }
}