@import '../../styles/colors.scss';

.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: inline-flex;
}

.row:last-child .cell {
  border-bottom: 1px solid $green;
}

.row:last-child .cell[disabled] {
  border-bottom-color: $gray-a;
}

.cell {
  border: none;
  border-left: 1px solid $green;
  border-top: 1px solid $green;
  cursor: pointer;
  height: 24px;
  width: 24px;

  &:last-child {
    border-right: 1px solid $green;
  }
}

.cell[disabled] {
  background-color: $gray-e;
  border-color: $gray-a;
  cursor: not-allowed;
}

.isAlive,
.isAlive[disabled] {
  background-color: $green;
}

.isDead {
  background-color: $white;
}
