.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}
